@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/*home/cabeçalho*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
}

body {
  background-color: rgb(36, 34, 34);
  margin: 0;
  min-height: 100vh;
  padding: 0;
  
}
/*tudo html*/
.projeto {
  margin-left: 890px;
  position: absolute;
  margin-top: -535px;
}
/*banner*/
.titulo {
  font-size: 40px;
  margin-top: 100px;
  color: rgb(255, 255,255, 0.703);
  margin-left: 150px;
}
/*sobre o grupo*/

h1 {
  background: -webkit-linear-gradient(top, #0864df, #0864df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*clicar para entrar*/
header {
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #007bff;

}

.menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 445px;
}

.jogos {
  color: #00316b;
  margin-left: 755px;
  margin-top: 40px;

}

.jogos1{
  text-decoration: none;
  color: #00316b;
 
}

.entrar {
  color: #00316b;
  margin-top: 40px;
  text-decoration: none;
}
/*clicar para entrar*/
/*imagens do site (catlogo)*/
.imagens a img {
  opacity: 0.5;
  transition: 0.5s;
}

.imagens a {
  flex-basis: calc(25% - 20px);
  position: relative;
  overflow: hidden;
}

.imagens a:hover img {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.05);
}
/*imagens do site (catlogo)*/
/* um sobre f4games */
.lista{
  margin-left: -148px;
  width: 900px;
  justify-content: end;
  margin-top: 100px;
}
/* um sobre f4games */

/*rodape*/

.caixa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: white;
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {
  color: #0864df;

}

.image {
  float: right;
  max-width: 64px;
  max-height: 64px;
}

.sobre {
  border-left: 3px solid #3681E8;
  background-color: rgb(36, 34, 34);
  border-radius: 20px;

}

.central {
  border-left: 3px solid #3681E8;
  background-color: rgb(36, 34, 34);
  border-radius: 20px;
}

.seguranca {
  border-left: 3px solid #3681E8;
  background-color: rgb(36, 34, 34);
  border-radius: 20px;
}

hr {
  border-color: #3681E8;
}


h1 {
  color: #3681E8;
  font-size: 100px;
}

h2 {
  color: #3681E8;
}

.card p {
  color: aliceblue;
  font-size: 16px;
}

.f4 {
  color: aliceblue;
}

footer {
  background-color: #3681E8;
  margin-top: 150px;
 
}
/*rodape*/
